<!--PRP Project
Copyright (C) 2020  The PRP Project

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<script src="plugins/home/scripts.js" type="text/javascript"></script>
<link href="plugins/home/styles.css" rel="stylesheet" type="text/css">

<div class="title-area" id="titleArea">
</div>

<div class="notificationArea container-fluid" id="desktopContent">
    <ul id="notificationList">
    </ul>
</div>

<!-- Templates -->
<!-- Title Template -->
<template id="homePageTitleTemplate">
    <h3 class="page-title"></h3>
</template>

<!-- Notification Card Template -->
<template id="notificationTemplate">
    <div class="card notificationCard">
        <div class="colorBar notificationColorBar"></div>
        <div class="cardHeader notificationCardHeader">
            <i class="notificationIcon"></i>
            <i class="fas fa-exclamation-triangle warningIcon"></i>
            <span class="notificationTitle"></span>
        </div>
        <div class="cardBody notificationCardBody">
            <span class="notificationText"></span>
        </div>
    </div>
</template>
